################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calculator/bin
/Calculator/obj
/.vs